<section id="who-we-are" class="bg-white">
    <div class="container">
        <div class="section-content">
            <div class="title-wrap" data-aos="fade-up">
                <h2 class="section-title">.NET developer<br>and <b>passionate for technologies</b></h2>
                <p class="section-sub-title">Microsoft Certified Professional in web and desktop systems development, graduated in Information Systems with experience in<br> developing solutions and systems for web and mobile platforms.</p>
            </div>
            
            <div class="row text-center">
                <div class="col-md-4 col-sm-6" data-aos="fade-up">
                    <img class="rounded-circle" src="img/icons/animat-checkmark.gif" alt="Generic placeholder image" width="140" height="140">
                    <h5 class="mb-4">Clean Code</h5>
                    <p>Big fan of clean code in every project I touch.</p>
                    <p><a class="btn btn-link" href="#" role="button">View details</a></p>
                </div>
                <!-- /.col-md-4 col-sm-6  -->
                <div class="col-md-4 col-sm-6" data-aos="fade-up" data-aos-delay="200">
                    <img class="rounded-circle" src="img/icons/animat-customize.gif" alt="Generic placeholder image" width="140" height="140">
                    <h5 class="mb-4">Solid</h5>
                    <p>My experience with complex projects has shaped my approach to clean, maintainable code. I make a point of applying SOLID principles in every project I’m part of..</p>
                    <p><a class="btn btn-link" href="#" role="button">View details</a></p>
                </div>
                <!-- /.col-md-4 col-sm-6  -->
                <div class="col-md-4 col-sm-6" data-aos="fade-up" data-aos-delay="400">
                    <img class="rounded-circle" src="img/icons/animat-responsive.gif" alt="Generic placeholder image" width="140" height="140">
                    <h5 class="mb-4">Fully Responsive</h5>
                    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. </p>
                    <p><a class="btn btn-link" href="#" role="button">View details</a></p>
                </div>
                <!-- /.col-md-4 col-sm-6  -->
            </div>
            <!-- /.row -->
        </div>
    </div>
</section>
