<section id="skills" class="bg-white" #skillsSection>
    <div class="container">
        <div class="section-content pt-0">
            
            <div class="row">
                <div class="col-md-6" data-aos="fade-right">
                    <!-- Skill Item -->
                    <div class="skill-item">
                        <div class="d-flex justify-content-between">
                             <p>C#</p>
                            <p class="text-muted">90%</p>
                        </div>
                        <div class="progress" data-percent="90%">
                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 0"></div>
                        </div>
                    </div>
                    <!-- End Skill Item -->
                    <!-- Skill Item -->
                    <div class="skill-item">
                        <div class="d-flex justify-content-between">
                            <p>Vb.Net</p>
                            <p class="text-muted">65%</p>
                        </div>
                         <div class="progress" data-percent="85%">
                            <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 0"></div>
                        </div>
                    </div>
                    <!-- End Skill Item -->
                    <!-- Skill Item -->
                    <div class="skill-item">
                        <div class="d-flex justify-content-between">
                            <p>JQUERY</p>
                            <p class="text-muted">73%</p>
                        </div>
                         <div class="progress" data-percent="73%">
                            <div class="progress-bar" role="progressbar" aria-valuenow="73" aria-valuemin="0" aria-valuemax="100" style="width: 0"></div>
                        </div>
                    </div>
                    <!-- End Skill Item -->
                </div>
                <div class="col-md-6" data-aos="fade-left">
                    <!-- Skill Item -->
                    <div class="skill-item">
                        <div class="d-flex justify-content-between">
                            <p>.Net</p>
                            <p class="text-muted">90%</p>
                        </div>
                         <div class="progress" data-percent="90%">
                            <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 0"></div>
                        </div>
                    </div>
                    <!-- End Skill Item -->
                    <!-- Skill Item -->
                    <div class="skill-item">
                        <div class="d-flex justify-content-between">
                            <p>Angular</p>
                            <p class="text-muted">60%</p>
                        </div>
                         <div class="progress" data-percent="60%">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0"></div>
                        </div>
                    </div>
                    <!-- End Skill Item -->
                    <!-- Skill Item -->
                    <div class="skill-item">
                        <div class="d-flex justify-content-between">
                            <p>Sql Server</p>
                            <p class="text-muted">60%</p>
                        </div>
                         <div class="progress" data-percent="60%">
                            <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 0"></div>
                        </div>
                    </div>
                    <!-- End Skill Item -->
                </div>
            </div>
        </div>
    </div>
</section>	