# Diretórios e arquivos ignorados
node_modules/
.angular/
.vscode/
.idea/
dist/
tmp/
*.log
*.swp
*.swo
*.sublime-workspace

# Arquivos de build
*.js
*.js.map
*.css
*.css.map
*.woff
*.woff2
*.eot
*.ttf
*.svg

# Arquivos de ambiente
environment.ts
environment.prod.ts

# Arquivos temporários
.DS_Store
Thumbs.db

# Arquivos de dados
.env
*.env.example

# Outros
.gitignore
.gitattributes